{% extends "base.html" %}
{% block title %} Task: {{proj.name}} {% endblock %}

{% block content %}
<h1>Project: {{proj.name}}</h1>
    <table id="projecttasks" class="table table-striped table-hover table-primary">
        <thead>
              <tr>
                  <th>Added</th>
                  <th>Descirption</th>
              </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{proj.added_date}}</td>
                <td>{{proj.description}}</td>
            </tr>
        </tbody>
    </table>
    <table id="projecttasks" class="table table-striped table-hover table-primary">
        <thead>
              <tr>
                  <th>Task involved in Project:</th>
              </tr>
        </thead>
        <tbody>

                {%for task in tasks %}
                <tr>
                <td><a href="{% url 'detail' task.id  %}">{{task.title}}</td>
                </tr>
                {% endfor %}

        </tbody>
    </table>
{% endblock %}