body {
    font-family:lato;
    background-color:black;
    text-align:center;
    font-size: x-large;
    color:white;
}

.navigation {
    padding-bottom:3%;
}

body > form > table {
    margin-left:35%;
}

#tasks > tbody > tr > td > a, #projecttasks > tbody > tr > td > a  {
    text-decoration: none;
    color:black;
}

body > ul > li {
    list-style: none;
}

body > a {
    text-decoration: none;
    color:white;
}

body > a:hover {
    text-decoration: none;
    color:white;
}

#navbarToggleExternalContent > div > p > span > a {
    text-decoration: none;
    color:white;
}

#footer {
   position:fixed;
   bottom:0;
   width:100%;

}
#footer > p > a {
    text-decoration:none;
    color: white;
}

body > div.image_welcome > img {
    width: 17%;
    background-color:black;
    transform: rotate(30deg);
    margin-top:5%;
    margin-bottom:3%;
}

body > p > a {
    text-decoration:none;
    color: white;
}

body > p > a:hover {
    text-decoration:none;
    color: white;
}


body > form > input.btn.btn-default.btn-lg {
    color: white;
}

#projecttasks {
    width: 20%;
    margin-left:40%;
}

body > div.pos-f-t > nav > button > span {
    font-size: xx-large;

}