{% extends "base.html" %}
{% load static %}
{% block title %} Personal Task planner {% endblock %}

{% block content %}
    <h1>Welcome to your private task planner!</h1>
    {% if not user.is_authenticated %}
    <div class="image_welcome"><img src = "{% static 'website/list.png' %}"></div>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="p-4">
          <h4 class="text-white">Group by:</h4>
          <p><span class="text-muted"><a href ="{% url 'group_by' 'project' %}">Project</a></span></p>
          <p><span class="text-muted"><a href ="{% url 'group_by' 'completion' %}">Completion date</a></span></p>
        </div>
      </div>
      <nav class="navbar navbar-dark justify-content-end">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span >⚙️</span>
        </button>
      </nav>
    </div>

    <h2> {{ user.get_username }}'s currenty runned Tasks</h2>
    <div class = "tasks table-responsive">
        <table id="tasks" class="table table-striped table-hover table-primary">
            <thead>
              <tr>
                <th>Task name</th>
                <th>Main project</th>
                <th>Added date</th>
                <th>Needs to be done till</th>
                <th>Descripion</th>
                <th>Prio</th>
                <th>Time Schedule</th>
                  <!-- pamietaj dodac %done -->
                  <!-- pamietaj dodac isoverdue -->
              </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    {% if task.added_by == user.get_username%}
                    <tr>
                        <td><a href="{% url 'detail' task.id  %}">{{task.title}}</a></td>
                        <td><a href="{% url 'detailproj' task.main_project.id  %}">{{task.main_project}}</a></td>
                        <td>{{task.added_date}}</td>
                        <td>{{task.proceed_till}}</td>
                        <td>{{task.description}}</td>
                        <td>{{task.prio}}</td>
                        <td>{{task.overdue}}</td>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
<p>Please
    <a href ="{% url 'login' %}"><button type="button" class="btn btn-outline-secondary">Login</button></a>
    or
    <a href="{% url 'register' %}"><button type="button" class="btn btn-outline-secondary">Register</button></a>
    yourself.

</p>
    {% endif %}
{% endblock %}